{% extends 'main.html' %}
<title>Контакти</title>
{% block shortdesc %}
<h1>Контакти з нами</h1>
{% endblock %}

          {% block breadcrumb %}
           <li class="active">Контакти</li>
            {% endblock%}


            <div class="box-body">
    НТЦ
{% block content %}

    <div class="box">
            <div class="box-header with-border"> Контакты</div>ідділ технічного обслуговування, Лабораторія програмних засобів навчання. тел. 62-152

        </div>
            </div>
{% endblock %}
