{% extends 'main.html' %}

{% block breadcrumb %}

 {% endblock %}
{% block content %}

    <div class="col-md-12">
          <div class="box box-default color-palette-box">


            <div class="box-body">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#tab_1-1" data-toggle="tab">Необроблені документи</a></li>
              <li><a href="#tab_2-2" data-toggle="tab">Стрічка активності</a></li>


              <li class="pull-left header"><i class="fa fa-th"></i> Необроблені документи</li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1-1">

<table class="table table-hover">
                <tbody><tr>
                  <th>ID</th>
                  <th>Номер</th>
                  <th>Дата</th>
                  <th>Тип</th>
                  <th>Назва документу</th>
                  <th>Операція</th>
                </tr>
                <tr>
                  <td>183</td>
                  <td>10/23-ОП</td>
                  <td>01-06-2016</td>
                  <td>Розпорядження</td>
                  <td>Про призначення премії за результатами роботи за 2015 рік</td>
                    <td><span class="label label-success">Ознайомитись</span></td>
                </tr>
                <tr>
                  <td>183</td>
                  <td>10/23-ОП</td>
                  <td>01-06-2016</td>
                  <td>Розпорядження</td>
                  <td>Про призначення премії за результатами роботи за 2015 рік</td>
                    <td><span class="label label-success">Ознайомитись</span></td>
                </tr>
                <tr>
                  <td>183</td>
                  <td>10/23-ОП</td>
                  <td>01-06-2016</td>
                  <td>Розпорядження</td>
                  <td>Про призначення премії за результатами роботи за 2015 рік</td>
                    <td><span class="label label-success">Ознайомитись</span></td>
                </tr>
                <tr>
                  <td>183</td>
                  <td>10/23-ОП</td>
                  <td>01-06-2016</td>
                  <td>Розпорядження</td>
                  <td>Про призначення премії за результатами роботи за 2015 рік</td>
                    <td><span class="label label-success">Ознайомитись</span></td>
                </tr>
                <tr>
                  <td>183</td>
                  <td>10/23-ОП</td>
                  <td>01-06-2016</td>
                  <td>Розпорядження</td>
                  <td>Про призначення премії за результатами роботи за 2015 рік</td>
                    <td><span class="label label-success">Ознайомитись</span></td>
                </tr>
                <tr>
                  <td>183</td>
                  <td>10/23-ОП</td>
                  <td>01-06-2016</td>
                  <td>Розпорядження</td>
                  <td>Про призначення премії за результатами роботи за 2015 рік</td>
                    <td><span class="label label-success">Ознайомитись</span></td>
                </tr>
                <tr>
                  <td>183</td>
                  <td>10/23-ОП</td>
                  <td>01-06-2016</td>
                  <td>Розпорядження</td>
                  <td>Про призначення премії за результатами роботи за 2015 рік</td>
                    <td><span class="label label-success">Ознайомитись</span></td>
                </tr>
                <tr>
                  <td>183</td>
                  <td>10/23-ОП</td>
                  <td>01-06-2016</td>
                  <td>Розпорядження</td>
                  <td>Про призначення премії за результатами роботи за 2015 рік</td>
                    <td><span class="label label-success">Ознайомитись</span></td>
                </tr>
                <tr>
                  <td>183</td>
                  <td>10/23-ОП</td>
                  <td>01-06-2016</td>
                  <td>Розпорядження</td>
                  <td>Про призначення премії за результатами роботи за 2015 рік</td>
                    <td><span class="label label-success">Ознайомитись</span></td>
                </tr>
                <tr>
                  <td>183</td>
                  <td>10/23-ОП</td>
                  <td>01-06-2016</td>
                  <td>Розпорядження</td>
                  <td>Про призначення премії за результатами роботи за 2015 рік</td>
                    <td><span class="label label-success">Ознайомитись</span></td>
                </tr>
                <tr>
                  <td>183</td>
                  <td>10/23-ОП</td>
                  <td>01-06-2016</td>
                  <td>Розпорядження</td>
                  <td>Про призначення премії за результатами роботи за 2015 рік</td>
                    <td><span class="label label-success">Ознайомитись</span></td>
                </tr>


              </tbody></table>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2-2">

              </div>

              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>

          </div>
     </div>
{% endblock %}

{# Організаційно-розпорядча #}
{#  Нормативна#}